.form {
  padding: 1rem;
  animation: task-form-appear 1s ease-out forwards;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.invalid input,
.invalid textarea {
  background-color: rgb(248, 205, 205);
  border-color: rgb(212, 67, 67);
}

.actions {
  margin-top: 1rem;
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #161853;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #161853;
  border-radius: 4px;
  font-weight: bold;
}
.actions button:disabled,
.actions button:hover:disabled {
  background-color: #878bd2;
  border-color: #878bd2;
  cursor: not-allowed;
}

.actions button:hover,
.actions button:active {
  background-color: #292c6d;
  border-color: #292c6d;
}

@keyframes task-form-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
