.menu {
  display: none;
}
.responsive_class {
  display: inline-block;
}

@media screen and (max-width: 992px) {
  .responsive_class {
    display: none;
  }
  .menu {
    display: inline;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .responsive_class {
    display: none;
  }
  .menu {
    display: inline;
  }
}
