@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&display=swap");
html,
body {
  padding: 0;
  background-color: #ffdcc7;
  margin: 0;
  font-family: "Arima Madurai";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
